.nav {
  display: flex;
  justify-content: start;
  gap: 20px;
  text-decoration: none;
}

.nav > h2 {
  color: var(--ivory);
}

.fas {
  border: solid 2px var(--ivory);
  padding: 6px;
  border-radius: 50px;
  transform: scale(-1, 1);
  color: var(--ivory);
}

.logo {
  margin-left: 20px;
  /* top: 0px;
  left: 0px;
  position: absolute;
  padding: 6px;
  margin: 0px;
  color: var(--ivory);
  margin: 0; */
}

.nav-links {
  display: flex;
  justify-content: start;
  gap: 40px;
  font-size: 26px;
  margin: 0;
  padding-left: 0;
  /* width: 60%;
  position: absolute;
  font-size: 26px;
  align-items: center;*/
  list-style: none;
}
.footer {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-weight: 100;
  /* padding: 6px;
  margin: 6px; */
}

.nav-link:hover{
  color: var(--rhythm);
}

.active {
  /* font-weight: 200; */
}

.btn-login{  
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-login-text{
  text-decoration: none;
  color: var(--ivory);
}