.nav {
  display: flex;
  justify-content: start;
  gap: 20px;
  text-decoration: none;
}

.nav > h2 {
  color: var(--ivory);
}

.nav--inline {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--space-cadet);
  z-index: 9999;
}

.fas {
  font-size: 0.8em;
  border: solid 2px var(--ivory);
  padding: 3px;
  border-radius: 50px;
  transform: scale(-1, 1);
  background-color: var(--ivory);
  color: var(--space-cadet);
}

.fas:hover{
  transition: 1000ms;
  background-color: var(--space-cadet);
  color: var(--ivory);
}

.nav-title:hover{
  transition: 1000ms;
  -webkit-text-stroke: 1px var(--ivory);
  color: var(--space-cadet);
}

.logo {
  margin-left: 20px;

  /* top: 0px;
  left: 0px;
  position: absolute;
  padding: 6px;
  margin: 0px;
  color: var(--ivory);
  margin: 0; */
}
.avatar--small {
  background-color: var(--ivory);
  width: 32px;
  height: 32px;
  margin: 6px;
  border-radius: 50%;
  border: solid var(--ivory) 2px;
  position: absolute;
  top: 10px;
  right: 90px;
}
.nav-links {
  display: flex;
  justify-content: start;
  gap: 40px;
  font-size: 26px;
  margin: 0;
  padding-left: 0;
  /* width: 60%;
  position: absolute;
  font-size: 26px;
  align-items: center;*/
  list-style: none;
}

.nav-link {
  font-weight: 100;
  display: flex;
  align-items: center;
  /* padding: 6px;
  margin: 6px; */
}

.nav-link:hover{
  color: var(--rhythm);
}

.active {
  /* font-weight: 200; */
}

.btn-login{  
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-login-text{
  text-decoration: none;
  color: var(--ivory);
}