@import url(stylesheets/colors.css);
@import url(stylesheets/fonts.css);

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--ivory);
  display: flex;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
