.gallery {
  margin: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  text-decoration: none;
}

.profile-details {
  display: flex;
  background-color: var(--ivory);
  border-radius: 5px 25px 25px 5px;
  transition: 250ms;
  margin: 8px;
}

.profile-details-title{
  color: var(--space-cadet);
}

.profile-details-subtitle{
  font-weight: 100;
  color: var(--rhythm);
}

.profile-details:hover {
  transition: 250ms;
  background-color: var(--rhythm);
  color: var(--ivory);
}

.profile-details-subtitle:hover{
  color: var(--ivory);
}
.avatar {
  background-color: var(--ivory);
  width: 84px;
  height: 84px;
  margin: 6px;
  border-radius: 50%;
  border: solid var(--ivory) 2px;
}

.profile-skills {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}