.gallery {
  margin: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .gallery {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 900px) {
  .gallery {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 0;
    padding-right: 0;
  }
}

.gallery-title {
  margin-top: 83px;
}

section:last-child {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

.profile-name-wrap .editable {
  justify-content: flex-start;
} 

.profile-details {
  display: flex;
  background-color: var(--ivory);
  border-radius: 5px 25px 25px 5px;
  transition: 250ms;
  margin: 8px;
}

.profile-details-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-details-title{
  color: var(--space-cadet);
  margin: 0;
}

.profile-details-subtitle{
  font-weight: 100;
  color: var(--rhythm);
  margin: 0;
}

.profile-details:hover{
  transition: 250ms;
  background-color: var(--rhythm);
}

.profile-details:hover .profile-details-subtitle {
  color: var(--ivory);
}

.profile-details:hover .avatar {
  transition: 800ms;
  border: solid var(--ivory) 2px;
}

.profile-details-subtitle:hover{
  transition: 800ms;
  color: var(--ivory);
}
.avatar {
  background-color: var(--ivory);
  width: 84px;
  height: 84px;
  margin: 6px;
  border-radius: 50%;
  border: solid var(--rhythm) 2px;
}

