.gallery {
  margin: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  text-decoration: none;
}

.profile-details {
  background-color: var(--ivory);
  border-radius: 5px 25px 25px 5px;
  color: var(--space-cadet);
  margin: 8px;
}

.profile-details:hover {
  transition: 500ms;
  background-color: var(--rhythm);
  color: var(--ivory);
}

.avatar {
  background-color: var(--ivory);
  width: 50%;
  height: 50%;
}
