/* Chat containers */
.message {
  list-style-type:none;
}

.container--chat {
  border: 2px solid #dedede;
  background-color: var(--blue-bell);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  max-width: 60%;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: var(--rhythm);
}

/* Clear floats */
.container--chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container--chat .avatar--tiny {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container-chat .avatar--tiny {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}