/* Chat containers */

.conversations {
  margin-top: 150px;
}

.conversation-name-container {
  justify-content: center;
  display: flex;
  margin: 8px auto;
  width: 70%;
  border-radius: 5px 25px 25px 5px;
  transition: 250ms;
  background-color: var(--ivory);
}

.conversation-name {
  color: var(--space-cadet);
}

.conversation-name-container:hover{
  transition: 250ms;
  background-color: var(--rhythm);
}

.conversation-name:hover {
  color: var(--ivory);
}

.margin-top-110{
  margin-top: 110px;
  padding-bottom: 155px;
}

.margin-top-110 ul {
  padding: 0;
}

.message {
  list-style-type:none;
}

.text{
  font-size: 1.3rem;
  font-weight: 500;
  width: 70%;
  margin-left: 5rem;
}

.timestamp{
  font-size: 0.7rem;
  font-weight: 100;
  float: right;
}

.container--chat {
  border: 2px solid #dedede;
  background-image: linear-gradient(to top right, var(--rhythm), var(--blue-bell), var(--lavender-web));
  border-radius: 5px;
  /* padding: 10px; */
  margin: 10px auto;
  max-width: 60%;
  color: var(--space-cadet);
}

.input--field{
  padding: 8px;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin: 16px auto;
  position: fixed;
  top: 85%;
  left: 50%;
  bottom: 44px;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 5rem;
  color: var(--space-cadet);
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom right, var(--lavender-web) ,var(--blue-bell));
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: var(--rhythm);
}

/* Clear floats */
.container--chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container--chat .avatar--tiny {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container-chat .avatar--tiny {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}