.home-banner{
  height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container{
  margin: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  text-align: start;
  position: relative;
  top: -1px;
}

.banner-title{
  margin: 0;
  padding-bottom: 0;
  color: var(--ivory);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 62px;
}

.banner-subtitle{
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: -30px;
  padding-top: 0px;
  font-size: 30px;
  font-weight: 100;
  color: var(--ivory);
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}