@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p, a {
  font-family: 'Poppins', sans-serif;
}