.profile-page {
  margin-top: 83px;
  transition: 250ms;
}

.profile-wrap {
  display: flex;
  align-items: center;
}

.avatar--profile {
  background-color: var(--ivory);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: solid var(--space-cadet) 4px;
  z-index: 1;
}

.profile-name-wrap {
  background-color: var(--space-cadet);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
  min-width: 70%;
  height: 40%;
  margin-left: -3rem;
  margin-right: -10px;
}

@media only screen and (min-width: 700px) {
  .profile-name-wrap {
    width: 80%;
  }
}

.profile-name{
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.profile-title{
  margin-top: 0;
  margin-left: 50px;
  font-size: 1rem;
  font-weight: 100;
}

.profile-name-wrap h1 {
  margin-left: 50px;
}