.btn-login-text {
  text-decoration: none;
  color: var(--ivory);
}

.btn-login-loginContainer {
  color: var(--ivory);
  text-decoration: none;
  border: solid 2px var(--ivory);
  background-color: var(--blue-bell);
  border-radius: 15px;
  text-decoration: none;
}

.btn-login-loginContainer:hover {
  background-color: var(--space-cadet);
  transition: 500ms;
  cursor: pointer;
}

.nav-link-loginContainer {
  padding: 10px;
  margin: 10px;
}

p, a, label {
  font-family: 'Poppins', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 2rem;
  margin: 0.5rem;
  color: var(--ivory);
}

.form-input {
  font-size: 1rem;
  height: 2rem;
  padding: 2px;
}

.login-button, .signup-button {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--ivory);
  border: solid 2px var(--ivory);
  background-color: var(--space-cadet);
  border-radius: 15px;
  text-decoration: none;
}

.login-button:hover {
  background-color: var(--blue-bell);
  color: var(--space-cadet);
  transition: 500ms;
  cursor: pointer;
}

.signup-button:hover  {
  background-color: var(--blue-bell);
  color: var(--space-cadet);
  transition: 500ms;
  cursor: pointer;
}