#files {
  display: none;
}

.avatar-input {
  z-index: 1;
}

.btn-centered {
  position: absolute;
  top: 216px;
}

.btn-centered:hover {
  color: var(--space-cadet);
  background: var(--ivory);
  border-color: var(--ivory);
}

.btn {
  cursor: pointer;
}